.recharts-wrapper {
    max-width: 100%;
    margin: 5% auto;
}
.recharts-legend-wrapper {
    padding-top: 10px;
}
.bar-label {
    margin-top: 10px;
}

.recharts-tooltip-label {
    color: rgb(29, 29, 29);
}