.pitch-table {
  width: 100%;
  height: 300px;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #2D5E2F;
  border: 3px solid white;
  border-radius: 16px;
}

.pitch-table th {
    max-width: 100px;
}

.pitch-table th,
.pitch-table td {
  padding: 5px;
  text-align: center;
  border: 1px dashed white;
}

.pitch-table th {
  background-color: #2D5E2F;
  font-weight: bold;
}

.pitch-table tr:nth-child(even) {
  background-color: #2D5E2F;
}

.pitch-table tr:nth-child(odd) {
  background-color: hsla(115, 46%, 56%, 0.452);
}