.single-player-analysis {
  padding: 2rem;
  color: #041E42;
  background-color: #f9f9f9;
  font-family: sans-serif;
}

.title {
  text-align: center;
  color: #BA0C2F;
}

.analysis-content {
  display: flex;
  max-height: 100%;
  gap: 2rem;
  margin-top: 1.5rem;
}

.table-section {
  flex: 1;
}

.placeholder {
  text-align: center;
  margin-top: 3rem;
  color: gray;
}
